/* Basislayout */

*{
  box-sizing:border-box;
}
html, body {
  height: 100%;
  padding: 0;
  background-color: rgba(19, 23, 255, 0);  
  background-image: url(afbeeldingen/gang.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #303030;
  font: Helvetica, Verdana, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 1440px;
    position: relative;
}


article {
    text-align: justify;
    background-color: rgba(0, 0, 0, 0);
}


header {
    color: rgba(255, 255, 255, 0.904);
    text-align: center;
    background-color:rgba(255, 126, 20, 0.007);
   

}


footer {
    text-align: center;
    padding-bottom: 10px;
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
    width: 250px;
}
img.poep {
    float: right;
    margin-left: 15px;
    width: 250px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
  float:left;
}
/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #a3a3a300;
    overflow: hidden;
    float: right;
}

nav ul li {
    float: left;
    margin-top: 0px;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #808080d2;
}

nav li a.active {
    background-color: rgba(252, 119, 10, 0.349);
}
